
body {
    font-family: blue;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50;
    margin: 0;
}

.login {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    
    text-align: center;
}

input {
    width: 10;
    padding: 10px;
    margin: 8px 0;
    border: 1;
    border-radius: 5px;
}
#black{
    background-color:black;
    text-decoration: double;
    color: red;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

